<<<<<<< HEAD
h1 {
    font-family: 'M PLUS Code Latin', sans-serif;
    color: #e824a2;
    text-align: center;
  margin-bottom: 20px;
}

p {
    color: #17d7f2;
}

.customer-form {
    text-align: left;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.customer-page {
    background-color: #000f24;
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 50px;
}

.customer-form label {
    margin-bottom: 10px;
  }

  .customer-form input {
    padding: 5px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .customer-form button {
    margin-top: 20px;
  }

  .form-container {
    width: 100px;
  }
=======
.H1{
    font-family: 'M PLUS Code Latin', sans-serif;
font-size: 3rem;  
color: #e824a2;

}
.page {
    background-color: #000f24;
    background-size: cover;
    height: 100vh;
 
}

.paragraph{

color: white;

}

.form-control{

margin-bottom: 1rem;

}

.h1andpara{
position: relative;
margin-bottom: 7rem;
top: 5rem;

}

.moneybuttons{

    margin-bottom: 3rem;
}
>>>>>>> main
