.H1{
  font-family: 'M PLUS Code Latin', sans-serif;
font-size: 3rem;  
color: #e824a2;

}
.page {
  background-color: #000f24;
  background-size: cover;
  height: 100vh;

}

.paragraph{

color: white;

}

.form-control{

margin-bottom: 1rem;

}

.h1andpara{
position: relative;
margin-bottom: 7rem;
top: 5rem;

}

.moneybuttons{

  margin-bottom: 3rem;
}

